files:
  "/etc/httpd/conf.d/ssl_rewrite.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
          RewriteEngine On
          <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
          RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
          </If>
option_settings:
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-west-1:730544676231:certificate/be663116-c593-4d80-900c-c30d8642812d
    ListenerProtocol: HTTPS
    InstancePort: 80
